<div id="search-bar" class="container-fluid form-inline search-bar">
  <select name="environment" class="form-control" [(ngModel)]="environment" (ngModelChange)="filterResults()">
    <option *ngFor="let env of environmentService.allEnvironments | async" [value]="env.value">{{env.display}}</option>
  </select>
  <input name="hostname" class="form-control" type="text" [(ngModel)]="hostname" placeholder="Host Name" (change)="filterResults()"/>
  <input name="applicationName" class="form-control" type="text" [(ngModel)]="applicationName" placeholder="Application Name" (change)="filterResults()"/>
</div>
<alert *ngFor="let alert of messageService.currentMessages | async;let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
  {{ alert?.message }}
</alert>
